@import "../helper/all";

.form-reset {
    margin: 100px 0;
    padding: 20px 10px;
    text-align: left;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    &__label {
      text-align: left;
    }
    &__input {
      border-radius: initial;
      border-color: #ccc;
    }
    &__btn {
      border: none;
      border-radius: initial;
      background: #EA6D24;
      width: 100%;
      color: $cl-white;
      margin-top: 10px;
      &:hover {
        color: $cl-white;
        background: #a02e0a;
      }
    }
}

@media (min-width: 768px) {
  .form-reset__label {
    text-align: left;
    margin-top: 7px;
  }
}
