<section class="forget-pass">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <form action="#" class="form-horizontal form-reset" #f="ngForm">
          <div class="form-group">
            <label class="col-sm-10 col-xs-offset-1 form-reset__label">Enter a new password for your account</label>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-xs-offset-1">
              <input type="password" class="form-control form-reset__input" id="inputNewPassword" placeholder="Password" [(ngModel)] = "newPassword" name="newPass" #newPass="ngModel" [min]="5" required/>
              <p class="validation" *ngIf="newPass.errors?.required">*Password is required</p>
              <p class="validation" *ngIf="newPass.errors?.min">Min length is 5 characters</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-xs-offset-1">
              <input type="password" class="form-control form-reset__input" id="inputConfirmNewPassword" placeholder="Retype Password" [(ngModel)]="confirmNewPassword" name="confirmNewPass" #confirmNewPass="ngModel" [equalTo]="newPass">
              <p class="validation" *ngIf="confirmNewPass.errors?.equalTo">Password is wrong</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-xs-offset-1">
              <button type="submit" (click)="resetPassword()" class="btn form-reset__btn">OK</button>
              <!--<button data-dismiss="modal" aria-label="Close" id="sign-in" class="btn btn-default">Close</button>-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
