<table class="table table-hover his-food" cellpadding="10px">
  <thead>
    <tr>
      <th>No</th>
      <th>Day</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody  cellspacing="10">
    <tr *ngFor="let invoiceDetail of invoiceDetails | paginate: { itemsPerPage: 6, currentPage: page }; let i = index" data-toggle="modal" data-target="#invoice-detail" (click) = "getInvoiceDetail(invoice.id)">
      <td>{{i+1}}</td>
      <td>{{invoiceDetail.orderingTime | day: format}}</td>
      <td>{{invoiceDetail.foodAndDrink.name}}</td>
      <td class="history-food-quantity">{{invoiceDetail.quantity}}</td>
      <td class="history-food-total">{{invoiceDetail.quantity * invoiceDetail.price}} d</td>
    </tr>
  </tbody>
</table>

<!--paging-->
<pagination-controls
  (pageChange)="page = $event" style="text-align: center;"
  previousLabel=""
  nextLabel="">
</pagination-controls>
