<table class="table table-hover his-food">
  <thead>
    <tr>
      <th>No</th>
      <th>Day</th>
      <th>Time</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let invoiceDetail of invoiceDetails'>
      <td>{{invoiceDetail.id}}</td>
      <td>15/03/2017</td>
      <td>8:00PM</td>
      <td>{{invoiceDetail.name}}</td>
      <td class="history-food-quantity">2</td>
      <td class="history-food-total">300.000 d</td>
    </tr>
  </tbody>
</table>
