<section class="user">
  <div class="container">
    <div class="row">
      <div class="user__wrap overfollow">
        <div class="col-xs-8 col-xs-offset-2">
          <div class="row">
            <div class="user__menu">
              <a routerLink="/history/invoice" class="menu__history">Invoice</a>
              <a routerLink="/history/favorite" class="menu__favorite">Favorite</a>
            </div>
          </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>

