@import "../helper/all";
.btn-menu {
  @include circle(80px);
  transform: scale(0.7);
  display: inline-block;
  background: $cl-btn-menu;
  position: relative;
  &__img {
    @extend %position-center;
    @include retangle(60px, 32px);
    top: 45%;
    background: url("../../assets/slice/btn-menu.png") no-repeat;
  }
  &__text {
    @extend %position-center;
    color: #ff5722;
    font-size: 20px;
  }
  &:hover,
  &:focus,
  &:active,
  &:visited {
    background: $cl-btn-menu-active;
    box-shadow: -1px 4px 5px $cl-btn-menu-shadow;
    .btn-menu {
      &__img {
        @include retangle(52px, 40px);
        background: url("../../assets/slice/btn-menu-active.png") no-repeat;
      }
      &__text {
        top: 10%;
        left: 0%;
        transform: rotate(-30deg);
      }
    }
    // &:before {
    //   content: "";
    //   @extend %position-vertical-center;
    //   @include retangle(20px, 20px);
    //   transform: rotate(45deg);
    //   background: $cl-white;
    //   border-left: 1px solid $cl-gray;
    //   border-bottom: 1px solid $cl-gray;
    //   right: -38px;
    //   z-index: 3;
    // }
  }
}

.btn-menu__choosing {
  background: $cl-btn-menu-active;
  box-shadow: -1px 4px 5px $cl-btn-menu-shadow;
  .btn-menu {
    &__img {
      @include retangle(52px, 40px);
      background: url("../../assets/slice/btn-menu-active.png") no-repeat;
    }
    &__text {
      top: 10%;
      left: 0%;
      transform: rotate(-30deg);
    }
  }
}

.food {
  padding-top: 10px;
  text-align: center;
  &-group {
    position: relative;
  }
  &__btn-hot-order {
    position: absolute;
    padding: 0 5px;
    border-radius: 100%;
    top: 0;
    right: 0;
    color: #f44336;
    border-color: #f44336;
  }
  &__name {
    display: block;
    padding: 5px;
  }
  &__img {
    padding-bottom: 10px;
  }

  &__board {

    background: $cl-bg-price;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    // @include retangle(100px, 60px);
    &--name {
      color: $cl-white;
    }
    &--price {
      color: yellow;
      margin-bottom: 2px;
    }
  }
}

.search {
  width: 100%;
  &__group {
    position: relative;
  }
  &__box {
    display: block;
    height: 40px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  &__btn {
    position: absolute;
    border: none;
    right: 2px;
    top: 2px;
    background: $cl-btn-search;
    color: $cl-xxx;
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.wrapper {
  margin-top: 20px;
}
.menu {
  // position: relative;
  background: url("../../assets/slice/main-bg.png") no-repeat;
  &__bg {
    background: $cl-bg-menu;
    padding: 20px;
  }

  &__board {
    background: $cl-white;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: -15px;
    height: 415px;
  }
}

// .food {
//   margin-top: 10px;
//   padding-top: 20px;
//   padding-bottom: 20px;
// }


.ordering {
  background: $cl-bg-menu;
  &__box {
    background: #FFFBCE;
    padding: 10px;
    &--inner {
      background: $cl-white;
      border: 1px solid $cl-gray;
      // padding: 10px;
      border-radius: 4px;
    }
  }
  &__title {
    font-size: 20px;
    color: black;
    text-align: center;
  }
  &__food {
    padding: 5px;
    &--text {
      color: black;
    }
  }
  &__total {
    padding-right: 10px;
    &--text {
      float: right;
    }
    &--money {
      font-weight:bold;
      color: #a02e0a;
    }
  }
  &__btn {
    padding-right: 10px;
    text-align: center;
    padding-bottom: 10px;
    &--order {
      margin-right: 5px;
    }
  }

  &__btn-ordered {
    font-weight: bold;
    color: #a02e0a;
  }
}

.ordered__food {
  &--clear,
  &--quantity {
    flex: 1;
    padding: 5px;
  }
  &--name,
  &--price {
    flex: 4;
    padding: 5px;
  }
  &--name {
    font-weight: bold;
  }
  &--clear {
    padding: 0 1px;
    background: none;
    border-radius: 100%;
    height: 22px;
    width: 22px;
    border: 1px solid #ccc;
    color: #ccc;
    &:active,
    &:hover,
    &:focus {
      color: #fbcdbc;
      border-color: #fbcdbc;
    }
  }
  &--id {
    display: none;
  }
}

.show-detail {
  background: #FFFBCE;
  padding: 0;
  &__img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 216px;
    &--food {
      // width: 100%;
    }
  }
  &__info {
    background: url("../../assets/slice/bg-ordering.png") no-repeat;
    display: table-cell;
    vertical-align: middle;
    height: 199px;
    width: 384px;
    img {
      box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    }
  }
  &__content {
    background: url("../../assets/slice/bg-show-detail.png") no-repeat;
    height: 200px;
    margin-left: 5%;
    transform: scale(0.9);
    padding: 10px;
    text-align: center;
  }
  &__number {
    width: 32px;
    height: 32px;
    border: 1px solid $cl-btn-menu;
    text-align: center;
    padding-top: 5px;
  }
  &__btn-arrow {
    padding: 10px 10px;
    background: $cl-btn-menu;
    border: none;
    border-radius: 50%;
    color: #FFEB3B;
    margin: 0 10px;
  }
  &__quanity {
    justify-content: center;
  }
  &__price {
    padding-right: 15px;
    margin: 3px 0;
  }
  &__btn {
    margin-top: 10px;
  }
}

.show-suggest {
  margin-top: 10px;
  background: #FFFBCE;
  &__text {
    font-size: initial;
    position: relative;
    flex: 1;
    p {
      @extend %position-center;
    }
  }
  &__content {
    flex: 4;
  }
  &__text,
  &__content {
    text-align: center;
    padding: 0 10px;
  }
  &__food {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    padding: 10px;
    @extend %position-center;
    color: #000;
    width: 100%;
    &--detail {
      display: none;
    }
  }
  &__group {
    flex: 1;
    display: inline-block;
    @include retangle(150px, 150px);
    background: $cl-white;
    box-shadow: 2px 5px 5px #ccc;
    position: relative;
    margin: 20px;
    margin-bottom: 60px;
    &:hover {
      .show-suggest__food--detail {
        display: block;
        position: absolute;
        background: $cl-white;
        border: 1px solid #ccc;
        top: 57px;
        right: -75px;
        margin-left: 30px;
        box-shadow: 2px 5px 5px #ccc;
      }
    }
  }
  &__quantity {
    @extend %position-horizontal-center;
    top: 160px;
    height: 34px;
  }
}

.modal-detail {
  background: none;
  border: none;
  box-shadow: none;
}

.inner-odered {
  color: tan;
}

.text {
  margin-left: 20px;
  display: inline-block;
}

.btn-type {
  position: relative;
  height: 600px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: all;
  top: 0px;
  // overflow: hidden;
  &-group {
    height:350px;
    overflow: hidden;
  }
}
// .btn-type:hover {
//   top:-100px;
// }
.transition-down,
.transition-up {
  top:0;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: all;
  // height: 380px;
}
.transition-up {
  transform: translate(0px, 100px);
}

.cash-img,
.post-img {
  width: 150px;
}

@media only screen and (min-width: 768px) {
  .invoice {
    display: block;
  }
  .hide-invoice {
    display: none;
  }
  .chart {
    display: block;
  }
  // .medium {
  //   display: none;
  // }
  .window {
    display: block;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .invoice {
    display: none;
  }
  .hide-invoice {
    display: block;
    position: fixed;
    bottom: 40px;
    right: 20px;
  }
  .btn-hide-invoice {
    padding: 20px 5px;
    border-radius: 50%;
    background: #FF5722;
    border: 5px solid #FFEB3B;
    color: $cl-white;
  }
  .chart {
    display: none;
  }
  // .medium {
  //   display: none;
  // }
  .window {
    display: block;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .window {
    display: block;
  }
  .medium {
    display: block;
  }
}

.menu-loading {
  margin-top: 130px;
}

.deny-table {
  font-size: 20px;
  padding-left: 50px;
  color: darkred;
}

$cl-table-ordering: #f0ad4e;
$cl-food-made: #4CAF50;
$cl-table-empty: #efefef;
$cl-cleaning:#337ab7;
$cl-reserved: #8e4713;
$cl-choosing: #a838af;
$cl-transparent: rgba(255,255,255,0);
.show-table {
  width: 95%;
  margin: 5px;
  &__quote {
    text-align: left;
    &--free,
    &--ordering,
    &--made,
    &--cleaning,
    &--reserved {
      padding: 5px 0;
      padding-left: 20px;
      flex: 1;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        @include retangle(15px, 15px);
        background: $cl-table-empty;
        border: 1px solid #ccc;
      }
    }
    &--ordering:before {
      background: $cl-table-ordering;
    }
    &--made:before {
      background: $cl-food-made;
    }
    &--cleaning:before {
      background: $cl-cleaning;
    }
    &--reserved:before {
      background: $cl-reserved;
    }
  }
}

.is-ordering {
  background: $cl-table-ordering;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-free {
  background: $cl-table-empty;
  color: black;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-food-made {
  background: $cl-food-made;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-cleaning {
  background: $cl-cleaning;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-reserved {
  background: $cl-reserved;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-choosing {
  border: 3px solid $cl-choosing;
  color: black;
  box-sizing: border-box;
  background: #f7c8ff;
}

.chart {
  margin-top: 15px;
  padding: 10px 10px 10px 0;
  background: $cl-white;
  &__box {

  }
}

.title-padding {
  padding-left: 10px;
}
