<div class="col-xs-8">
  <table class="table-order">
    <tbody>
      <tr class="table-order__row" *ngFor="let group of groupThreeTables">
        <td routerLink="build/{{table.id}}" class="table-order__col" *ngFor="let table of group">
          <p class="table-order__number">Table {{table.id}}</p>
          <p class="table-order__size">{{table.size}} people</p>
          <p class="table-order__order-time">Order <span>1</span></p>
        </td>
      </tr>

    </tbody>
  </table>
</div>
<div class="col-xs-4">
  <router-outlet></router-outlet>
</div>
