<div class="col-xs-8">
  <table class="table-order">
    <tbody>
      <tr class="table-order__row">
        <td routerLink="build/1" class="table-order__col has-done">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">Order <span>1</span></p>
        </td>
        <td class="table-order__col">
          <p class="table-order__number">2</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
        <td class="table-order__col">
          <p class="table-order__number">3</p>
          <p class="table-order__size"></p>
          <p class="table-order__order-time"></p>
        </td>
      </tr>
      <tr class="table-order__row">
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
        <td class="table-order__col is-ordering">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
      </tr>
      <tr class="table-order__row">
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
      </tr>
      <tr class="table-order__row">
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
        <td class="table-order__col">
          <p class="table-order__number">1</p>
          <p class="table-order__size">4 people</p>
          <p class="table-order__order-time">1</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-xs-4">
  <router-outlet></router-outlet>
</div>
