<div class="col-xs-8">
  <table class="table-order">
    <tbody>
      <tr class="table-order__row" *ngFor="let group of groupThreeTables; let i = index">
        <td (click) = "detailTable(table)" class="table-order__col {{table.tableNumber}}" *ngFor="let table of group; let j = index"
        [class.is-ordering]="table.tableStatus === 1"
        [class.is-food-made]="table.tableStatus === 2"
        [class.is-cleaning]="table.tableStatus === 3"
        [class.is-free]="table.tableStatus === 0"
        [class.is-reserved]="table.tableStatus === 4">
        <!-- <p *ngIf="invoices[table.tableNumber - 1] != null">{{invoices[table.tableNumber - 1].table.tableNumber}}</p> -->
          <p class="table-order__number">Table {{table.tableNumber}}</p>
          <p class="table-order__size">{{table.size}} people</p>
          <p class="table-order__order-time" *ngIf="orderTables[table.tableNumber-1].numOrder != 0">Order <span >{{orderTables[table.tableNumber-1].numOrder}}</span></p>
          <p *ngIf="table.tableStatus === 4">{{tablesCountDownMins[i*3 + j]}}:{{tablesCountDownSecs[i*3 + j]}}</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="show-table__quote flex-box">
    <p class="show-table__quote--free">Free</p>
    <p class="show-table__quote--ordering">Ordering</p>
    <p class="show-table__quote--made">Food Made</p>
    <p class="show-table__quote--cleaning">Cleaning</p>
    <p class="show-table__quote--reserved">Reserved</p>
  </div>
</div>
<div class="col-xs-4">
  <router-outlet></router-outlet>
</div>

<!--modal cancel table-->
<div class="modal fade" id="cancelReservingTable" tabindex="-1" role="dialog" aria-labelledby="chooseTablesLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header flex-box">
                <button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body overfollow">
              <p>Do you want to cancel the reservation at this table?</p>
            </div>
            <div class="modal-footer">
                <button (click)="cancelReserved(14)" type="button" class="btn btn-warning">OK</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
