<table class="table table-hover" [mfData]="favoriteFood | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortBy">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                <mfDefaultSorter by="name">Name</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="quantity">Num of order</mfDefaultSorter>
            </th>
            <th>
                <mfDefaultSorter by="price">Price</mfDefaultSorter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let food of mf.data; let i = index" data-toggle="modal" data-target="#invoice-detail" (click)="getInvoiceDetail(invoice.id)">
            <td>{{i+1}}</td>
            <td>{{food.name}}</td>
            <td>{{food.quantity}}</td>
            <td>{{food.price | currency:'vnd':true:'1.0-2'}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="10">
                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
            </td>
        </tr>
    </tfoot>
</table>
<!-- <table class="table table-hover">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Number Of Ordered</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let food of favoriteFood | paginate: { itemsPerPage: 6, currentPage: page }; let i = index' data-toggle="modal" data-target="#invoice-detail" (click)="getInvoiceDetail(invoice.id)">
            <td>{{i+1}}</td>
            <td>{{food.name}}</td>
            <td>{{food.quantity}}</td>
            <td>{{food.price | currency:'vnd':true:'1.0-2'}}</td>
        </tr>
    </tbody>
</table> -->
<!--paging-->
<!-- <pagination-controls (pageChange)="page = $event" style="text-align: center;" previousLabel="" nextLabel="">
</pagination-controls> -->
