@import "helper/all";
.header {
  background: $cl-header;
  &__bg {
    background: url("../assets/slice/header-top-line.png") repeat-x;
    &--bottom {
      height: 4px;
    }
    &--img {
      background: url("../assets/slice/header-support.png") no-repeat;
      height: 120px;
    }
  }
  &__logo {
    color: $cl-white;
    &--text {
      display: inline-flex;
      align-items: center;
      padding-left: 10px;
    }
  }
  &__logo-group {
    float: left;
  }
  &__btn-group {
    float: right;
    margin-top: 20px;
    position: relative;
  }
  &__btn-login,
  &__btn-qrCode {
    @include retangle(70px, 45px);
    @extend %position-center;
    left: -80%;
    color: $cl-white;
    outline: none;
    border: none;
    background: $cl-dark;
    border-radius: 3px;
    display: block;
  }
  &__btn-qrCode {
    left: -155px;
  }
  &__btn-waiter {
    background:$cl-waiter;
    @include circle(80px);
    border: none;
    color: $cl-white;
    font-size: 12px;
    &:hover {
      background:#093f79;
      color: #bceaff;
    }
    &--icon {
      font-size: 30px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .header__logo--text {
    display: none;
  }
  .footer-group {
    .icon-middle {
      margin: 0 80px;
    }
  }
  .header__btn-qrCode {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header__btn-qrCode {
    display: block;
  }
  .header__logo--text {
    display: block;
  }
  .footer-group {
    .icon-middle {
      margin: 0 150px;
    }
  }
}

.login {
  &__header {
    color: $cl-white;
    background: $cl-header;
  }
  &__title {
    text-align: center;
    margin: 0;
    flex: 12;
  }
  &__close {
    outline: none;
    flex: 1;
    background: none;
    border: 0;
  }
}

.btn-social {
  &__fb,
  &__gg {
    padding: 10px;
    margin-bottom: 10px;
  }
}

.footer {
  background: #EA6D24;
  text-align: center;
  &-group {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    .icon-outer,
    .icon-middle {
      font-size: 22px;
      color: $cl-white;
    }
  }
}


.position-logout {
  position: initial;
  margin-top: 40px;
}

.loading-home {
  background: $cl-white;
  width: 100%;
  height: 100%;
}

.sign-up,
.forgot-pass {
  display: inline-block;
  color: #EA6D24;
}

.forgot-pass {
  text-decoration: underline;
}

.sign-up-group {
  text-align: center;
}

.deny-table {
  font-size: 20px;
  padding-left: 50px;
  color: darkred;
}

$cl-table-ordering: #f0ad4e;
$cl-food-made: #4CAF50;
$cl-table-empty: #efefef;
$cl-cleaning:#ababab;
$cl-reserved: #8e4713;
$cl-choosing: #a838af;
$cl-transparent: rgba(255,255,255,0);
.show-table {
  width: 95%;
  margin: 5px;
  &__quote {
    text-align: left;
    &--free,
    &--ordering,
    &--made,
    &--cleaning,
    &--reserved {
      padding: 5px 0;
      padding-left: 20px;
      flex: 1;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        @include retangle(15px, 15px);
        background: $cl-table-empty;
        border: 1px solid #ccc;
      }
    }
    &--ordering:before {
      background: $cl-table-ordering;
    }
    &--made:before {
      background: $cl-food-made;
    }
    &--cleaning:before {
      background: $cl-cleaning;
    }
    &--reserved:before {
      background: $cl-reserved;
    }
  }
}

.is-ordering {
  background: $cl-table-ordering;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-free {
  background: $cl-table-empty;
  color: black;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-food-made {
  background: $cl-food-made;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-cleaning {
  background: $cl-cleaning;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-reserved {
  background: $cl-reserved;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-choosing {
  border: 3px solid $cl-choosing;
  color: black;
  box-sizing: border-box;
  background: #f7c8ff;
}

.title-padding {
  padding-left: 10px;
}
