<div *ngIf="loading === true">
  <div class="loading-home">
    <app-loading-indicator></app-loading-indicator>
  </div>
</div>
<header class="header" *ngIf="loading === false">
  <div class="header__bg clearfix">
    <div class="header__bg--img">
      <div class="container">
        <div class="header__logo-group">
          <h1 class="header__logo flex-box">
            <img src="./assets/slice/logo.png">
            <p class="header__logo--text">Al Fresco's</p>
          </h1>
        </div>
        <div class="header__btn-group flex-box">
          <button routerLink="/scanQRcode" class="header__btn-qrCode" *ngIf="isCustomer === true">Scan QR code</button>
          <button class="header__btn-login" data-toggle="modal" data-target="#login" *ngIf="!token">Log In</button>
          <button (click)="logOut()" class="header__btn-login" *ngIf="token && isCustomer === true">Log Out</button>
          <!-- For staff -->
          <button (click)="logOut()" class="header__btn-login position-logout" *ngIf="token && isCustomer === false">Log Out</button>
          <a (click)="sendMessageAdmin()" *ngIf="countDown === 0 && (isCustomer === true || isAdmin === true) && currentTable" class="btn btn-default header__btn-waiter" value="Waiter">
            <p class="icon-phone header__btn-waiter--icon"></p>
            Waiter
          </a>
          <a (click)="chooseTable()" *ngIf="countDown === 0 && (isCustomer === true || isAdmin === true) && !currentTable"
            class="btn btn-default header__btn-waiter" value="Waiter"
            data-toggle="modal" data-target="#chooseTables">
            <p class="icon-phone header__btn-waiter--icon"></p>
            Waiter
          </a>
          <a *ngIf="countDown > 0" class="btn btn-default header__btn-waiter" value="Waiter">
            <p class="icon-phone header__btn-waiter--icon"></p>
            {{countDown}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bg header__bg--bottom"></div>
</header>

<router-outlet></router-outlet>

  <!--add footer here-->
  <footer class="footer" *ngIf="isCustomer === true">
    <div class="container">
      <div class="row">
        <div class="footer-group">
          <a routerLink="/history/invoice" class="icon-address-book icon-outer"  *ngIf="token"></a>
          <a data-toggle="modal" data-target="#login" class="icon-address-book icon-outer" *ngIf="!token"></a>
          <a routerLink="/" class="icon-home3 icon-middle"></a>
          <a routerLink="/userprofile" class="icon-user icon-outer" *ngIf="token"></a>
          <a data-toggle="modal" data-target="#login" class="icon-user icon-outer" *ngIf="!token"></a>
        </div>
      </div>
    </div>
  </footer>

<!--modal login-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header login__header flex-box">
        <h2 class="login__title">Log in</h2>
        <button type="button" class="close login__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login__body">
        <form action="#" class="form-horizontal" #f="ngForm">
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)] = "inputEmail" name="email" #email="ngModel" required email/>
              <p class="validation" *ngIf="email.errors?.required">*Email requires</p>
              <p class="validation" *ngIf="email.errors?.email">*Invalid email</p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)] = "inputPassword" name="password" #password="ngModel" required/>
              <p class="validation" *ngIf="password.errors?.required">*Password requires</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a class="forgot-pass" data-toggle="modal" data-target="#forgotPass">Forgot password?</a>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" (click)="signIn()" id="sign-in" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
        <div class="btn-social overfollow">
          <a href="#" class="col-xs-10 col-xs-offset-1 btn btn-primary btn-social__fb" (click)="facebookLogin()">Login with Facebook</a>
          <!-- <a href="#" class="col-xs-10 col-xs-offset-1 btn btn-danger btn-social__gg">Login with Google</a> -->
          <app-google-sign-in></app-google-sign-in>
        </div>
      </div>
      <div class="modal-footer sign-up-group">
        <p>Don't have an account? <a (click)="showModalSignUp()" class="sign-up" data-toggle="modal" data-target="#signUp">Sign Up</a></p>
      </div>
    </div>
  </div>
</div>

<!--modal sign up-->
<div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="signUpLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header login__header flex-box">
        <h2 class="login__title">Sign Up</h2>
        <button type="button" class="close login__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login__body">
        <form action="#" class="form-horizontal" #f="ngForm">
          <div class="form-group">
            <label for="inputYourEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputYourEmail" placeholder="Email" [(ngModel)] = "objSignUp.email" name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputYourName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="inputYourName" placeholder="Name" [(ngModel)] = "objSignUp.name" name="name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputYourPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputYourPassword" placeholder="Password" [(ngModel)] = "objSignUp.password" name="yourPassword" #yourPassword="ngModel" [min]="5" required/>
              <p *ngIf="yourPassword.errors?.required">Password is required</p>
              <p *ngIf="yourPassword.errors?.min">Min length is 5 characters</p>
            </div>
          </div>
          <div class="form-group">
            <label for="inputConfirmPassword" class="col-sm-2 control-label">Confirm Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Password" [(ngModel)]="confirmPassword" name="confirmPass" #confirmPass="ngModel" [equalTo]="yourPassword">
              <p *ngIf="confirmPass.errors?.equalTo">Password is wrong</p>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" (click)="signUp()" id="sign-in" class="btn btn-default btn-warning">Sign Up</button>
              <button type="submit" (click)="closeSignUp()" id="sign-in" class="btn btn-default">Close</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal scan QR code-->
<div class="modal fade" id="scanQRCode" tabindex="-1" role="dialog" aria-labelledby="scanQRCodeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header login__header flex-box">
        <h2 class="login__title">Scan QR code</h2>
        <button type="button" class="close login__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login__body">
        <div class="row">
          <div class="col-md-4 col-md-offset-3">
            <form>
              <div class="form-group">
                <label for="videoSource">Select Camera</label>
                  <select id="videoSource" class="form-control">
                    <option selected>DefaultCamera</option>
                  </select>
              </div>
            </form>
          </div>
          <div class="col-md-2"><button class="btn btn-info btn-block" onclick="window.history.back();">Back</button></div>
          <br>
          <div class="col-md-6 col-md-offset-3">
            <div class="boxWrapper auto">
              <div id="hiddenImg"></div>
              <div id="qrContent" class="alert alert-danger" role="alert">
                <p>No QR Code in sight!</p>
              </div>
            </div>
            <div id="example" class="thumbnail embed-responsive embed-responsive-4by3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal choose number of table-->
<div class="modal fade" id="chooseTables" tabindex="-1" role="dialog" aria-labelledby="chooseTablesLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header flex-box">
                <button type="button" class="btn btn-default close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h5 class="modal-title title-padding" id="chooseTableLabel">Please choose number of table</h5>
            </div>
            <div class="modal-body overfollow">
              <div class="col-xs-12">
                <div class="col-xs-4" *ngFor="let table of tables"
                  (click)="getNumOfTable(table)">
                  <div class="row">
                    <div class="show-table btn btn-default choose-table"
                    [class.is-free]="table.tableStatus === 0" [class.is-ordering]="table.tableStatus === 1"
                    [class.is-food-made]="table.tableStatus === 2" [class.is-cleaning]="table.tableStatus === 3"
                    [class.is-reserved]="table.tableStatus === 4"
                    [class.is-choosing]="table == temporaryTable" >
                      <p>{{table.tableNumber}}</p>
                      <p>Max: {{table.size}} people</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer show-table__quote flex-box">
              <p class="show-table__quote--free">Free</p>
              <p class="show-table__quote--ordering">Ordering</p>
              <p class="show-table__quote--made">Food Made</p>
              <p class="show-table__quote--cleaning">Cleaning</p>
              <p class="show-table__quote--reserved">Reserved</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button (click)="sendMessageAdmin()" type="button" class="btn btn-warning">OK</button>
            </div>
        </div>
    </div>
</div>

<!--confirm the empty table that clicked-->
<div class="modal fade" id="toConfirmTable" tabindex="-1" role="dialog" aria-labelledby="confirmTableLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn btn-default" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">
              <div class="deny-table">
                  <p>You are permited order on empty table!</p>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default btn-warning" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
</div>

<!--modal forgot password-->
<div class="modal fade" id="forgotPass" tabindex="-1" role="dialog" aria-labelledby="forgotPassLabel">
    <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header login__header flex-box">
        <h2 class="login__title">Forgot password</h2>
        <button type="button" class="close login__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login__body">
        <form action="#" class="form-horizontal" #f="ngForm">
          <div class="form-group">
            <label class="col-sm-10 col-sm-offset-2 control-label">Enter your email address. You will receive an email with a link to reset your password</label>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmailForgetPass" placeholder="Email" [(ngModel)] = "emailForgetPass.email" name="email" #email="ngModel" required email/>
              <p class="validation" *ngIf="email.errors?.required">*Email requires</p>
              <p class="validation" *ngIf="email.errors?.email">*Invalid email</p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="sendEmail()" type="button" class="btn btn-warning">Send</button>
        <button type="button" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
