<header class="header">
  <div class="header__bg clearfix">
    <div class="header__bg--img">
      <div class="container">
        <div class="header__logo-group">
          <h1 class="header__logo flex-box">
            <img src="./assets/slice/logo.png">
            <p class="header__logo--text">Al Fresco's</p>
          </h1>
        </div>
        <div class="header__btn-group flex-box">
          <button routerLink="/scanQRcode" class="header__btn-qrCode" *ngIf="isCustomer === true">Scan QR code</button>
          <button class="header__btn-login" data-toggle="modal" data-target="#login" *ngIf="!token">Log In</button>
          <button (click)="logOut()" class="header__btn-login" *ngIf="token && isCustomer === true">Log Out</button>
          <!-- For staff -->
          <button (click)="logOut()" class="header__btn-login position-logout" *ngIf="token && isCustomer === false">Log Out</button>
          <a (click)="sendMessageAdmin()" *ngIf="countDown === 0 && (isCustomer === true || isAdmin === true)" class="btn btn-default header__btn-waiter" value="Waiter">
            <p class="icon-phone header__btn-waiter--icon"></p>
            Waiter
          </a>
          <a *ngIf="countDown > 0" class="btn btn-default header__btn-waiter" value="Waiter">
            <p class="icon-phone header__btn-waiter--icon"></p>
            {{countDown}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bg header__bg--bottom"></div>
</header>

<router-outlet></router-outlet>

  <!--add footer here-->
  <footer class="footer" *ngIf="isCustomer === true">
    <div class="container">
      <div class="row">
        <div class="footer-group">
          <a routerLink="/history/invoice" class="icon-address-book icon-outer"  *ngIf="token"></a>
          <a data-toggle="modal" data-target="#login" class="icon-address-book icon-outer" *ngIf="!token"></a>
          <a routerLink="/" class="icon-home3 icon-middle"></a>
          <a routerLink="/userprofile" class="icon-user icon-outer" *ngIf="token"></a>
          <a data-toggle="modal" data-target="#login" class="icon-user icon-outer" *ngIf="!token"></a>
        </div>
      </div>
    </div>
  </footer>

<!--modal login-->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header login__header flex-box">
        <h2 class="login__title">Log in</h2>
        <button type="button" class="close login__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login__body">
        <form action="#" class="form-horizontal" #f="ngForm">
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)] = "inputEmail" name="email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)] = "inputPassword" name="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" (click)="signIn()" id="sign-in" class="btn btn-default">Sign in</button>
            </div>
          </div>
        </form>
        <div class="btn-social overfollow">
          <a href="#" class="col-xs-10 col-xs-offset-1 btn btn-primary btn-social__fb" (click)="facebookLogin()">Login with Facebook</a>
          <!-- <a href="#" class="col-xs-10 col-xs-offset-1 btn btn-danger btn-social__gg">Login with Google</a> -->
          <app-google-sign-in></app-google-sign-in>
        </div>
      </div>
    </div>
  </div>
</div>

<!--modal scan QR code-->
<div class="modal fade" id="scanQRCode" tabindex="-1" role="dialog" aria-labelledby="scanQRCodeLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header login__header flex-box">
        <h2 class="login__title">Scan QR code</h2>
        <button type="button" class="close login__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login__body">
        <div class="row">
          <div class="col-md-4 col-md-offset-3">
            <form>
              <div class="form-group">
                <label for="videoSource">Select Camera</label>
                  <select id="videoSource" class="form-control">
                    <option selected>DefaultCamera</option>
                  </select>
              </div>
            </form>
          </div>
          <div class="col-md-2"><button class="btn btn-info btn-block" onclick="window.history.back();">Back</button></div>
          <br>
          <div class="col-md-6 col-md-offset-3">
            <div class="boxWrapper auto">
              <div id="hiddenImg"></div>
              <div id="qrContent" class="alert alert-danger" role="alert">
                <p>No QR Code in sight!</p>
              </div>
            </div>
            <div id="example" class="thumbnail embed-responsive embed-responsive-4by3">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
