<div [chart]="chart" id="container"></div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
            <label class="label-control"><b style="color: red; font-size: 12pt;">Filter by date</b></label>
        </div>
        <div class="col-xs-1">
        	<label class="label-control">From</label>
        </div>
        <div class="col-xs-3">
            <input class="form-control" type="date" value="searchKey" [(ngModel)]="fromDate" (change)="searchFromDateToDate()">
        </div>
        <div class="col-xs-1">
        	<label class="label-control">To</label>
        </div>
        <div class="col-xs-3">
            <input class="form-control" type="date" value="searchKey" [(ngModel)]="toDate" (change)="searchFromDateToDate()">
        </div>
    </div>
    <hr>
    <table class="table table-hover" [mfData]="invoices | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="10" [(mfSortBy)]="sortBy">
        <thead>
            <tr>
                <th>
                    No.
                </th>
                <th>
                    <mfDefaultSorter by="id">Invoice Id</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="payingTime">Date</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="totalAmount">Invoice amount</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="table.tableNumber">Table</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="customerUser.name">Customer</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="staffUser.name">Staff</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="paymentType">Payment type</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let invoice of mf.data; let i = index' data-toggle="modal" data-target="#invoice-detail" (click)="getInvoiceDetail(rateDetail.invoice.id)">
                <td>{{i+1}}</td>
                <td>{{invoice.id}}</td>
                <td>{{invoice.payingTime | date: 'mediumDate'}}</td>
                <td>{{invoice.totalAmount}}</td>
                <td>{{invoice.table.tableNumber}}</td>
                <td>{{invoice.customerUser.name}}</td>
                <td>{{invoice.staffUser.name}}</td>
                <td>{{invoice.paymentType}}</td>
            </tr>
            <tr>
            	<td colspan="3"><b>Total amount ({{timeForTotalAmount}})</b></td>
            	<td style="color: red;"><b>{{totalAmount}} VND</b></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="10">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
