<table class="table table-hover">
  <thead>
    <tr>
      <th>No</th>
      <th>Day</th>
      <th>Price</th>
      <th>Payment via</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor = 'let invoice of invoices | paginate: { itemsPerPage: 6, currentPage: p }; let i = index' data-toggle="modal" data-target="#invoice-detail" (click) = "getInvoiceDetail(invoice.id)">
      <td >{{i+1}}</td>
      <td>{{invoice.payingTime | date: fomart}}</td>
      <td>{{invoice.totalAmount}}</td>
      <td>{{invoice.paymentType}}</td>
    </tr>
  </tbody>
</table>
<pagination-controls (pageChange)="p = $event" style="text-align: center;"></pagination-controls>


<div class="modal fade" id="invoice-detail" tabindex="-1" role="dialog" aria-labelledby="detailInvoiceLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Invoice detail</h4>
      </div>
      <div class="modal-body" *ngIf='invoiceDetails'>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor = 'let invoiceDetail of invoiceDetails; let i = index'>
              <td >{{i+1}}</td>
              <td>{{invoiceDetail.foodAndDrink.name}}</td>
              <td>{{invoiceDetail.quantity}}</td>
              <td>{{invoiceDetail.price}}</td>
            </tr>
          </tbody>
        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
