@import "../helper/all";

html,
body {
  background: $cl-white;
}

.chat-btn {
  margin: 10px;
  &_confirm {
    padding: 20px;
    border-radius: 3px;
  }
}

.chat-box {
  text-align: center;
  padding-top: 50px;
}
.calling {
  img {
    width: 200px;
    padding-bottom: 100px;
    filter: invert(50%);
  }
}

.comfirm-box {
  text-align: center;
}

#show-btn {
  @include circle(50px);
  transition:0.3s;
  outline: none;
  font-size: 30px;
  font-weight: 900;
  padding: initial;
  &:hover {
    background: #8e4713;
  }
}

.chat-btn-confirm {
  transition-timing-function: linear;
  transform: rotate(180deg);
  background: #8e4713;
}

$cl-table-ordering: #f0ad4e;
$cl-food-made: #4CAF50;
$cl-table-empty: #efefef;
$cl-cleaning: #337ab7;
$cl-reserved: #8e4713;
$cl-choosing: #a838af;
$cl-transparent: rgba(255,255,255,0);

.show-table {
  width: 95%;
  margin: 5px;
  &__quote {
    text-align: left;
    &--free,
    &--ordering,
    &--made,
    &--cleaning,
    &--reserved {
      padding: 5px 0;
      padding-left: 20px;
      flex: 1;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        @include retangle(15px, 15px);
        background: $cl-table-empty;
        border: 1px solid #ccc;
      }
    }
    &--ordering:before {
      background: $cl-table-ordering;
    }
    &--made:before {
      background: $cl-food-made;
    }
    &--cleaning:before {
      background: $cl-cleaning;
    }
    &--reserved:before {
      background: $cl-reserved;
    }
  }
}

.is-ordering {
  background: $cl-table-ordering;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-free {
  background: $cl-table-empty;
  color: black;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-food-made {
  background: $cl-food-made;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-cleaning {
  background: $cl-cleaning;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-reserved {
  background: $cl-reserved;
  color: $cl-white;
  box-sizing: border-box;
  border: 3px solid $cl-transparent;
}

.is-choosing {
  border: 3px solid $cl-choosing;
  color: black;
  box-sizing: border-box;
  background: #f7c8ff;
}

.btn-table {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-weight: bold;
  &__all {
    position: fixed;
    right: 30px;
    bottom: 120px;
    @include circle(26px);
    padding: initial;
    &:before {
      content: "All table";
      position: absolute;
      right: 30px;
      color: #616161;
      top: 0px;
      background: #fff;
      padding: 5px 10px;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.32);
    }
  }
  &__unpay {
    position: fixed;
    right: 34px;
    bottom: 160px;
    @include circle(17px);
    padding: initial;
    &:before {
      content: "Unpay table";
      position: absolute;
      right: 30px;
      color: #616161;
      top: -8px;
      background: #fff;
      padding: 5px 10px;
      box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.32);
    }
  }
}
