<section class="chat-box-staff">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <div class="chat-box">
          <div class="calling">
            <img src="../../assets/slice/retro-telephone-ringing.gif" alt="A customer is needing for help"  *ngIf="hasMessage">
            <ul class="message">
            </ul>
            <div class="chat-btn">
              <button (click)="sendMessageAdmin()" type="button" class="chat-btn-confirm btn-warning btn btn-default">OK</button>
            </div>
          </div>
        </div>
        <div class="comfirm-box" *ngIf="callPayment">
          <div class="confirm-payment">
            <button (click)="getAllTableUnpay()" type="button" class="chat-btn-confirm btn-warning btn btn-default" data-toggle="modal" data-target="#tableUnpay">Confirm Payment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--modal select table need confirm-->
<div class="modal fade" id="tableUnpay" tabindex="-1" role="dialog" aria-labelledby="tableUnpayLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content login">
      <div class="modal-header login__header flex-box">
        <h2 class="login__title">Unpaid tables</h2>
        <button type="button" class="close login__close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body login__body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Number of table</th>
              <th>Size</th>
              <th>CreatedDate</th>
              <th>Total</th>
              <th>Payment</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor = 'let invoice of invoices'>
              <td>{{invoice.table.id}}</td>
              <td>{{invoice.table.size}}</td>
              <td>{{invoice.createdDate | date: format}}</td>
              <td>{{invoice.totalAmount}}</td>
              <td><button (click)="confirmPayment(invoice, 'CASH')" type="button" class="btn btn-default btn-warning">CASH</button>&nbsp;&nbsp;/&nbsp;&nbsp;<button (click)="confirmPayment(invoice, 'BANK_CARD')" type="button" class="btn btn-default btn-warning">BANK_CARD</button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
