@import "../helper/all";

.chat-btn {
  margin: 10px;
  &_confirm {
    padding: 20px;
    border-radius: 3px;
  }
}

.chat-box {
  text-align: center;
  padding-top: 50px;
}
.calling {
  img {
    width: 200px;
    padding-bottom: 100px;
    filter: invert(50%);
  }
}

.comfirm-box {
  text-align: center;
}

.chat-btn-confirm {
  width: 100px;
  height: 100px;
  padding: 30px 10px;
  border-radius: 100%;
  position: fixed;
  bottom: 50px;
  right: 20px;
}

$cl-table-ordering: #f0ad4e;
$cl-food-made: #4CAF50;
$cl-table-empty: #fff;
$cl-cleaning: #cacbcc;
$cl-reserved: #8e4713;

.is-ordering {
  background: $cl-table-ordering;
  color: $cl-white;
}

.is-free {
  background: $cl-table-empty;
  color: black;
}

.is-food-made {
  background: $cl-food-made;
  color: $cl-white;
}

.is-cleaning {
  background: $cl-cleaning;
  color: $cl-white;
}

.is-reserved {
  background: $cl-food-made;
  color: $cl-reserved;
}
