<div class="ordering">
  <div class="ordering__box">
      <div class="ordering__box--inner">
          <h2 class="ordering__title">Ordering</h2>
          <div class="ordering__food">
            <div class="ordering__food--text ordered__food no-food flex-box" *ngFor="let invoiceDetail of invoiceDetails">
              <p class="ordered__food--name">{{invoiceDetail.foodAndDrink.name}}</p>
              <p class="ordered__food--quantity">{{invoiceDetail.quantity}}</p>
              <p class="ordered__food--price">{{invoiceDetail.quantity * invoiceDetail.price}} d</p>
              <p class="ordered__food--id">{{invoiceDetail.foodAndDrink.id}}</p>
            </div>
          </div>
          <div class="ordering__total overfollow">
              <p class="ordering__total--text">Total
                  <span class="ordering__total--money">{{totalMoney}} d</span>
              </p>
          </div>
          <div class="ordering__btn">
              <a class="ordering__btn--order btn--suggest btn-done" (click)='changeClassToBeDone()'>Done</a>
          </div>
          <!-- <div class="ordering__btn">
              <a class="ordering__btn--order btn--suggest btn-done" (click)='confirmOrderingRequest()'>Confirm</a>
          </div>
          <div class="ordering__btn">
              <a class="ordering__btn--order btn--suggest btn-done" (click)='deleteOrderingRequest()'>Delete</a>
          </div> -->
      </div>
  </div>
</div>
