<div class="ordering">
  <div class="ordering__box">
      <div class="ordering__box--inner">
          <h2 class="ordering__title">Ordering</h2>
          <div class="ordering__food">
            <div class="ordering__food--text ordered__food no-food flex-box">
              <p class="ordered__food--name">Pizza</p>
              <p class="ordered__food--quantity">2</p>
              <p class="ordered__food--price">130000 d</p>
              <p class="ordered__food--id">2</p>
            </div>
            <div class="ordering__food--text ordered__food no-food flex-box">
              <p class="ordered__food--name">Pizza Mexico</p>
              <p class="ordered__food--quantity">2</p>
              <p class="ordered__food--price">130000 d</p>
              <p class="ordered__food--id">2</p>
            </div>
          </div>
          <div class="ordering__total overfollow">
              <p class="ordering__total--text">Total
                  <span class="ordering__total--money">260000 d</span>
              </p>
          </div>
          <div class="ordering__btn">
              <a class="ordering__btn--order btn--suggest">Done</a>
          </div>
      </div>
  </div>
</div>
